
@{
    ViewData["Title"] = "Info";
}

<h2>Info</h2>
<hr />

<p>
    <strong>Logged In User: <span>@User.Identity.Name</span></strong>
</p>

<br />

<h2>Manage</h2>
<hr />
<a class="btn btn-outline-primary" href="#">
    Change Password
</a>

