body {
}

.main-content {
    padding-top: 130px;
    padding-bottom: 50px;
    font-family: cursive;
    min-height: 500px;
}

    .main-content h1,
    .main-content h2,
    .main-content h3,
    .main-content h4,
    .main-content h5,
    .main-content h6 {
        color: #0091ea;
    }
